@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  background-color: #feafc3;
}

body[data-color='pink'] {
  background-color: #feafc3;
}

body[data-color='blue']{
  background-color: #69a9ff;
}

body[data-color='yellow'] {
  background-color: #fcc850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  padding: 12px 32px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  background-color: #fcfcfc;
  background-clip: padding-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.red-button {
  background-color: #ff2f64;
  font-weight: 700;
  line-height: 20px;
  color: #fcfcfc;
  border-radius: 26px;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  box-sizing: border-box;
  padding: 12px 32px;
}

.content-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.navigation-wrapper {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin: 0 auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.user-menu {
  display: flex;
}

.contacts-phone {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.tittle {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
}

.slider-tittle {
  margin-bottom: 24px;
}

.subtittle-text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  margin-bottom: 46px;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-list-item {
  justify-content: space-between;
  align-items: center;
  display: none;
}

.slider-list-item.is-active {
  display: flex;
}

.images-container {
  display: grid;
  grid-template-columns: 306px 100px 100px;
  column-gap: 56px;
}

.image-wrapper:last-of-type {
  transform: translateX(-15px);
}

.image-wrapper::before {
  position: absolute;
  content: "";
  left: 0;
  top: 40%;
  right: 0;
  height: 100px;
  border-radius: 50%;
  background: rgba(252, 252, 252, 0.5);
  z-index: -1;
}

.image-wrapper.is-active .slider-image {
  width: 306px;
  height: 507px;
}

.image-wrapper.is-active::before {
  height: 312px;
  top: 19%;
}

.image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper:not(.is-active) {
  opacity: 0.4;
}

.slider-image {
  width: 66px;
  height: 150px;
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.slider-wrapper {
  position: relative;
}

.slider-button {
  position: absolute;
  top: 45.5%;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px inset #fcfcfc;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button-prev {
 left: 45.5%;
}

.slider-button-next {
 right: 25%;
}

.slider-button-next svg {
  transform: rotate(180deg);
}

.slider-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 8px;
}

.slider-pagination-button {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  opacity: 0.3;
}

.slider-pagination-button.is-current {
  opacity: 1;
}

.social-list {
  position: absolute;
  bottom: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 16px;
  align-items: center;
  width: 150px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(252, 252, 252, 0.4);
  border-radius: 50%;
}

.bonuses {
  margin-bottom: 81px;
}

.bonus-gift-wrapper {
  display: flex;
  justify-content: space-between;
}

.bonus-wrapper {
  box-sizing: border-box;
  background-color: #ff7799;
  width: 570px;
  padding: 36px;
  padding-right: 170px;
  border-radius: 16px;
  min-height: 268px;
  background-repeat: no-repeat;
  background-position: right center;
}

.bonus-raspberry {
  background-image: url("../images/malinka-bonus.png");
}

.bonus-marshmellow {
  background-image: url("../images/marshmellow-bonus.png");
}

.bonus-tittle {
  font-size: 32px;
  text-align: center;
  margin-bottom: 55px;
}

.gift-tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
  margin-bottom: 28px;
}

.gift-button {
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.gift-text {
  margin: 0;
  margin-bottom: 28px;
}

.most-popular {
  margin-bottom: 104px;
}

.most-popular-tittle {
  text-align: center;
  font-size: 32px;
  margin-bottom: 107px;
}

.popular-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.product-list-item {
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 24px 40px;
  box-sizing: border-box;
}

.icecream-name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.icecream-text {
  margin: 0;
  margin-bottom: 16px;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-color: transparent;
  display: flex;
  align-items: center;
}

/* advantages */

.advantages {
  text-align: center;
  margin-bottom: 80px;
}

.advantages-wrapper {
  position: relative;
  border: 24px solid transparent;
  border-radius: 16px;
  background-color: #fcfcfc;
  padding: 56px 40px;
  width: 1170px;
  box-sizing: border-box;
  background-clip: padding-box;
}

.advantages-wrapper::before {
  position: absolute;
  content: "";
  top: -24px;
  left: -24px;
  right: -24px;
  bottom: -24px;
  background-image: url("../images/wafer-bg.png");
  background-size: cover;
  border-radius: 16px;
  z-index: -1;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 505px);
  gap: 32px;
  row-gap: 40px;
}

.advantages-item {
  padding-left: 64px;
  background-position: left top 4px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-technology {
 background-image: url("../images/advantages-icecream.jpg");
}

.advantages-farm {
 background-image: url("../images/advantages-cow.jpg");
}

.advantages-ingredients {
  background-image: url("../images/advantages-leaf.jpg");
}

.advantages-termopack {
  background-image: url("../images/advantages-therm.jpg");
}

.advantages-tittle {
  font-size: 32px;
  margin-bottom: 56px;
}

.advantages-text {
  margin: 0;
  text-align: left;
}

/* blog */

.news-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}

.news {
  box-sizing: border-box;
  width: 570px;
  border-radius: 16px;
  min-height: 224px;
  background-color: #fcfcfc;
}

.blog {
  padding: 32px;
  background-image: url("../images/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-tittle {
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}

.blog-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: #2d3440;
}

/* subscribe */

.subscribe {
  position: relative;
  border: 6px solid transparent;
  border-radius: 16px;
  padding: 26px;
  padding-bottom: 28px;
  background-clip: padding-box;
  background-color: #fcfcfc;
}

.subscribe::before {
  position: absolute;
  content: "";
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background-image: url("../images/subscribe-bg.jpg");
  z-index: -1;
  border-radius: 16px;
  background-size: cover;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 32px;
}

.email-input {
  width: 332px;
}

.button-newsletter {
  width: 152px;
}

/* delivery */

.delivery-wrapper {
  display: grid;
  grid-template-columns: 371px 500px;
  gap: 150px;
  padding: 64px;
  box-sizing: border-box;
  background-image: url("../images/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 534px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.delivery-content {
  align-self: center;
}

.delivery-tittle {
  font-size: 32px;
}

.delivery-text {
  margin: 0;
}

.delivery-form {
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.delivery-form-text {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.delivery-form-address {
  grid-column: 1 / -1;
}

.delivery-form-label {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.delivery-form-button {
  grid-column: 1 / -1;
  justify-self: center;
  width: 152px;
}

.delivery-input {
  box-sizing: border-box;
  padding: 14px 16px;
  color: #b9b9b9;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
}

.delivery-input-date {
  width: 117px;
}

.delivery-input-tel {
  width: 287px;
}

.delivery-input-address {
  width: 420px;
}

.delivery-info-button {
  position: relative;
  width: 12px;
  height: 12px;
}

.delivery-info-text {
  box-sizing: border-box;
  position: absolute;
  top: -11px;
  left: 26px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 9px;
  border-radius: 1px;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18),
    0 0 0 0.5px #b9b9b9,
    inset 0 0 0 0.5px #b9b9b9;
    background-color: #fcfcfc;
}

.delivery-info-text:after {
  position: absolute;
  content: "";
  top: 11px;
  left: -8.5px;
  width: 16px;
  height: 16px;
  background: #fcfcfc;
  border-bottom: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  transform: rotate(45deg);
}

.delivery-info-text-wide {
  width: 162px;
  padding-left: 11px;
  padding-right: 6px;
}

.feedback-wrapper {
  box-sizing: border-box;
  background-image: url("../images/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px;
  min-height: 492px;
  border-radius: 16px;
}

.contacts-wrapper {
  border-radius: 8px;
  padding: 40px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  width: 343px;
  box-sizing: border-box;
}

.feedback-tittle,
.feedback-text,
.feedback-phone,
.shedule-text,
.phone-text {
  font-style: normal;
  margin: 0;
}

.feedback-tittle {
  margin-bottom: 12px;
}

.feedback-text,
.feedback-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.shedule-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}

.feedback-text {
  margin-bottom: 24px;
}

.phone-text {
  margin-bottom: 12px;
}

.feedback-link {
  text-decoration: none;
  display: block;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0;
  margin: 0 auto;
}

.footer-about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 182px);
  row-gap: 6px;
}

.footer-about-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.footer-about-link.is-current {
  font-weight: 700;
}

.footer-social-list {
  position: unset;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.inner-header-tittle {
  font-size: 32px;
}

.options {
  color: #2d3440;
  margin-bottom: 95px;
}

.sorting {
  display: flex;
  flex-direction: column;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: 915px;
  align-items: center;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.range-bar-input {
  border: none;
  background: transparent;
  width: 50px;
}

.range {
  padding-top: 30px;
  padding-bottom: 33px;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
  width: 56px;
}

.range-toggle {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #2d3440;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}

.toggle-min {
  top: -6px;
  left: -7px;
}

.toggle-max {
  top: -7px;
  right: -8px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-fillers {
  min-width: 604px;
}

.catalog-filter-submit {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  width: 185px;
  padding: 6px 10px;
  box-sizing: border-box;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
}

.product-wrapper {
  margin-bottom: 16px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.product-list-item {
  position: relative;
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding-top: 133px;
}

.product-link {
  text-decoration: none;
  color: #565c66;
}

.icecream-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -27%);
}

.product-name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.card-options-wrapper {
  position: relative;
  min-height: 126px;
  padding: 53px;
  box-sizing: border-box;
}

.pagination-show-more {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  list-style-type: none;
  margin: 0 0 0 auto;
  width: fit-content;
  padding: 0;
  display: flex;
}

.pagination-link {
  color: #2d3440;
  text-decoration: none;
}
