@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  padding: 12px 32px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  background-color: #fcfcfc;
  background-clip: padding-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.red-button {
  background-color: #ff2f64;
  font-weight: 700;
  line-height: 20px;
  color: #fcfcfc;
  border-radius: 26px;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  box-sizing: border-box;
  padding: 12px 32px;
}

.content-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.navigation-wrapper {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin: 0 auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.user-menu {
  display: flex;
}

.contacts-phone {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.tittle {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
}

.subtittle-text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bonuses {
  margin-bottom: 81px;
}

.bonus-gift-wrapper {
  display: flex;
  justify-content: space-between;
}

.bonus-wrapper {
  box-sizing: border-box;
  background-color: #ff7799;
  width: 570px;
  padding: 36px;
  padding-right: 170px;
  border-radius: 16px;
  min-height: 268px;
  background-repeat: no-repeat;
  background-position: right center;
}

.bonus-raspberry {
  background-image: url("../images/malinka-bonus.png");
}

.bonus-marshmellow {
  background-image: url("../images/marshmellow-bonus.png");
}

.bonus-tittle {
  font-size: 32px;
  text-align: center;
  margin-bottom: 55px;
}

.gift-tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
}

.gift-button {
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.most-popular {
  margin-bottom: 104px;
}

.most-popular-tittle {
  text-align: center;
  font-size: 32px;
  margin-bottom: 107px;
}

.popular-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.product-list-item {
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 24px 40px;
  box-sizing: border-box;
}

.icecream-name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.icecream-text {
  margin: 0;
  margin-bottom: 16px;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-color: transparent;
  display: flex;
  align-items: center;
}

/* advantages */

.advantages {
  text-align: center;
  margin-bottom: 80px;
}

.advantages-wrapper {
  border: 24px solid;
  border-radius: 16px;
  border-image: url("../images/wafer-bg.png") 18 round;
  border-image-repeat: round;
  background-color: #fcfcfc;
  padding: 56px 40px;
  width: 1170px;
  box-sizing: border-box;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 505px);
  gap: 32px;
}

/* blog */

.news-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news {
  box-sizing: border-box;
  width: 570px;
  border-radius: 16px;
  min-height: 224px;
  background-color: #fcfcfc;
}

.blog {
  padding: 32px;
  background-image: url("../images/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-tittle {
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}

.blog-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: #2d3440;
}

/* subscribe */

.subscribe {
  border: 6px solid;
  border-image: url("../images/subscribe-bg.jpg") 12 round;
  padding: 26px;
  padding-bottom: 28px;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 44px;
}

.email-input {
  width: 332px;
}

.button-newsletter {
  width: 152px;
}

/* delivery */

.delivery-wrapper {
  display: grid;
  grid-template-columns: 371px 500px;
  gap: 150px;
  padding: 64px;
  box-sizing: border-box;
  background-image: url("../images/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 534px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.delivery-content {
  align-self: center;
}

.delivery-tittle {
  font-size: 32px;
}

.delivery-text {
  margin: 0;
}

.delivery-form {
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.delivery-form-text {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.delivery-form-address {
  grid-column: 1 / -1;
}

.delivery-form-label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.delivery-form-button {
  grid-column: 1 / -1;
  justify-self: center;
  width: 152px;
}

.delivery-input {
  box-sizing: border-box;
  padding: 14px 16px;
  color: #b9b9b9;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.delivery-input-date {
  width: 117px;
}

.delivery-input-tel {
  width: 287px;
}

.delivery-input-address {
  width: 420px;
}

.feedback-wrapper {
  box-sizing: border-box;
  background-image: url("../images/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px;
  min-height: 492px;
  border-radius: 16px;
}

.contacts-wrapper {
  border-radius: 8px;
  padding: 40px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  width: 343px;
  box-sizing: border-box;
}

.feedback-tittle,
.feedback-text,
.feedback-phone,
.shedule-text,
.phone-text {
  font-style: normal;
  margin: 0;
}

.feedback-tittle {
  margin-bottom: 12px;
}

.feedback-text,
.feedback-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.shedule-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}

.feedback-text {
  margin-bottom: 24px;
}

.phone-text {
  margin-bottom: 12px;
}

.feedback-link {
  text-decoration: none;
  display: block;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0;
  margin: 0 auto;
}

.footer-about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 182px);
  row-gap: 6px;
}

.footer-about-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.footer-about-link.is-current {
  font-weight: 700;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.inner-header-tittle {
  font-size: 32px;
}

.options {
  color: #2d3440;
  margin-bottom: 95px;
}

.sorting {
  display: flex;
  flex-direction: column;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: 915px;
  align-items: center;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.range-bar-input {
  border: none;
  background: transparent;
  width: 50px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-fillers {
  min-width: 604px;
}

.catalog-filter-submit {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  width: 185px;
  padding: 8px 10px;
  box-sizing: border-box;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  height: 36px;
}

.product-wrapper {
  margin-bottom: 16px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.product-list-item {
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-link {
  text-decoration: none;
  color: #565c66;
}

.product-name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.card-options-wrapper {
  position: relative;
  min-height: 126px;
  padding: 53px;
  box-sizing: border-box;
}

.pagination-show-more {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  list-style-type: none;
  margin: 0 0 0 auto;
  width: fit-content;
  padding: 0;
  display: flex;
}

.pagination-link {
  color: #2d3440;
  text-decoration: none;
}
